<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>application_meteo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC027CFA1E9CFB86001BB6F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC027D0E1E9CFB86001BB6F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC027D191E9CFB86001BB6F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
